.App {
  background-color: whitesmoke;
  text-align: center;
  height: 100vh;
 
}


.App-header {
  align-items: center;
  color: black;
  margin-top: 0;
  padding-top: 3%;
  font-size: 7em;
  z-index: 9999
}



